<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/content-set.css">
</th:block>


<div layout:fragment="content">
  <div class="notion-editor-container">
    <form id="documentForm">
      <div>
        <input type="text" id="documentTitle" class="form-control notion-title" placeholder="제목 없는 페이지">
      </div>
      <div>
        <textarea id="documentContent" class="form-control notion-content" rows="20" placeholder="여기에 내용을 입력하세요..."></textarea>
      </div>
    </form>
  </div>
  <div id="saveStatus"></div>
</div>


<th:block layout:fragment="script">
  <script>
    console.log("Notion editor page loaded.");
    // 나중에 자동 저장 로직을 여기에 추가합니다.
  </script>
</th:block>

</html>