<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/content-set.css">
</th:block>


<div layout:fragment="content">
  <div class="notion-editor-container">
    <form id="documentEditForm">
      <input type="hidden" id="docNo" name="docNo" th:value="${docNo}">
      <div class="d-flex justify-content-end mb-3">
<!--        <input class="btn btn-primary" id="submitBtn" type="submit" value="Submit">-->
      </div>
      <div>
        <input type="text" id="title" name="title" class="form-control notion-title" placeholder="제목 없는 페이지" th:value="${result.title}">
      </div>
      <div>
        <textarea id="content" name="content" class="form-control notion-content" rows="20" placeholder="여기에 내용을 입력하세요..." th:text="${result.content}"></textarea>
      </div>
    </form>
  </div>
  <div id="saveStatus"></div>
</div>


<th:block layout:fragment="script">
  <script src="/js/view/content-edit.js"></script>
  <script>
    ContentEditJS.init();
  </script>
</th:block>

</html>